<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="appLogger" xsi:type="File" fileName="C:\dev.net\Sandbox\_Logs\MotorcycleApi_APP_${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
		<target name="reqLogger" xsi:type="File" fileName="C:\dev.net\Sandbox\_Logs\MotorcycleApi_REQUEST_${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
		<target name="metricsLogger" xsi:type="File" fileName="C:\dev.net\Sandbox\_Logs\MotorcycleApi_METRICS_${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="System.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="AppLogger" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="appLogger" />
		<logger name="RequestLogger" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="reqLogger" />
		<logger name="MetricsLogger" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="metricsLogger" />
	</rules>
</nlog>