<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="On" internalLogFile="C:\dev.net\Sandbox\_Logs\nlog-internal.log">
		<targets>
			<target name="file_PROBESimulator" xsi:type="File"
            layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
            fileName="C:\dev.net\Sandbox\_Logs\PROBESimulator_${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="file_PROBESimulator" />
		</rules>
	</nlog>
</configuration>