<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
						switchValue="Information, ActivityTracing"
						propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "C:\dev.net\Sandbox\_Logs\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="stdBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<services>
		<service name="MultiStateQueryIOInterface.MultiStateResponseMocks" behaviorConfiguration="stdBehavior">
			<endpoint address="" binding="basicHttpBinding" contract="MultiStateQueryIOInterface.IMultiStateResponseMocks"></endpoint>
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:18080"/>
				</baseAddresses>
			</host>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
	</services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
		<add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="C:\dev.net\Sandbox\_Logs\MSQPOC_${date:format=yyyy-MM-dd}.log" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>
