<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="appLog"
				xsi:type="File"
				fileName="C:\dev.net\Sandbox\_Logs\logsearch_app.log"
				layout="${longdate}|${level}|${message}${onexception:|EX:${exception:format=tostring}}" />
		<target name="requestLog"
				xsi:type="File"
				fileName="C:\dev.net\Sandbox\_Logs\logsearch_request.log"
				layout="${longdate}|${level}|${message}${onexception:|EX:${exception:format=tostring}}" />
		<target name="microsoftLog"
				xsi:type="File"
				fileName="C:\dev.net\Sandbox\_Logs\logsearch_microsoft.log"
				layout="${longdate}|${level}|${message}${onexception:|EX:${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="Application" minlevel="Trace" writeTo="appLog" />
		<logger name="Request" minlevel="Trace" writeTo="requestLog" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="microsoftLog" />
	</rules>
</nlog>
