<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="On" internalLogFile="C:\dev.net\Sandbox\_Logs\nlog-internal.log">
	<targets>
		<target name="ApplicationLogger" xsi:type="File"
				layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				fileName="C:\dev.net\Sandbox\_Logs\Transactify_APP.log"
				keepFileOpen="true"
				encoding="utf-8" />
		<target name="BatchLogger" xsi:type="File"
				layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				fileName="C:\dev.net\Sandbox\_Logs\Transactify_BATCH.log"
				keepFileOpen="true"
				encoding="utf-8" />
		<target name="BatchTraceLogger" xsi:type="File"
				layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				fileName="C:\dev.net\Sandbox\_Logs\Transactify_BATCH_TRACE.log"
				keepFileOpen="true"
				encoding="utf-8" />
	</targets>
	<rules>
		<logger name="Application" levels="Info,Warn,Error,Fatal" writeTo="ApplicationLogger" />
		<logger name="Batch" levels="Info,Warn,Error,Fatal" writeTo="BatchLogger" />
		<logger name="BatchTrace" levels="Info,Warn,Error,Fatal" writeTo="BatchTraceLogger" />
	</rules>
</nlog>