<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="On"
	  internalLogFile="C:\dev.net\Sandbox\_Logs\nlog-internal.log">
	<targets>
		<target name="fileTarget" xsi:type="File"
		layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
		fileName="C:\dev.net\Sandbox\_Logs\CoreWebAppWithNLog_${shortdate}.log"
		keepFileOpen="true"
		encoding="utf-8" />
		<target name="consoleTarget" xsi:type="ColoredConsole"
		layout="[${threadid}] ${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" />
	</rules>
</nlog>